
# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
*.pytest_cache/
*.mypy_cache/
*.coverage
*.egg-info/
dist/
build/

# ========================
# Logs
# ========================
*.log
results.xml

# ========================
# Node / React frontend
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/

# ========================
# Docker
# ========================
*.tar
docker-compose.override.yml
.dockerignore

# ========================
# Java / Jenkins shared lib
# ========================
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.ctxt
hs_err_pid*
replay_pid*

# ========================
# IDE / editor
# ========================
.vscode/
.idea/
*.iml

# ========================
# Misc
# ========================
.DS_Store

# ========================
# Snyk
# ========================
.snyk
